body {
  background-color: #E6ECF0;
  font-family: 'Signika', sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#title {
  text-align: center;
  background-color: #fff;
  padding: 0 auto;
  box-shadow: 2px 2px 5px grey;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 40px;
  color: #50B4F2;
}

#description {
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}

#group {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bot {
  width: 13vw;
  text-align:center;
  overflow: auto;
  word-wrap: break-word;
}

#bot_text {
  margin-top: 3px;
  padding-top: 0;
  font-size: 0.9em;
  color: rgba(0,0,0,0.5);
}

#tweetContainer {
  box-shadow: 2px 2px 5px grey;
  margin-top: 20px;
  background-color: #E9F6FE;
  overflow: hidden;
  text-align: center;
}

#header {
  border-bottom: solid 1px rgba(29,161,242,0.4);
  background: #fff;
  /*border-radius: 6px 6px 0 0;*/
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 55px;
  /*line-height: 24px;*/
  font-size: 1em;
}

#body {
  margin-left:15px;
  margin-right:15px;
  margin-top: 25px;
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
  text-align: left;
}

.tweetbox {
  background-color: rgb(255,255,255);
  display: block;
  border: solid 1px rgba(29,161,242,0.4);
  border-radius: 6px;
  box-sizing: border-box;
  min-height: 80px;
  overflow: hidden;
  padding: 8px;
  padding-bottom: 5px;
  vertical-align: top;
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  direction: ltr;
  unicode-bidi: isolate;
  /* -webkit-user-modify: read-write; */
  margin-left: 10px;
  margin-bottom: 11px;
  opacity: 0.8;
}

div[data-placeholder]:not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    overflow: hidden;
    word-wrap: break-word;
    color: #aab8c2;
    font-size: 1em;
}

.tweetbox:focus {
  outline: 0px solid transparent;
  border: solid 2px rgba(29,161,242,0.5);
  opacity: 0.8;
}

em
{
    background-color: rgb(255, 184, 194);

}

.profilePic {
    float: left;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
    border: 0;
}

.introPic {
    width: 100%;
    height: auto;
    -moz-force-broken-image-icon: 1;
    border: 0;
    /* margin-right: 20px; */
}

#confirmtxt {
  float: left;
  margin-left: 50px;
}
#confirm {
  float: right;
  margin-top: 13px;
}

#tweet{
  background-color: #50B4F2;
  color: white;
  border-radius: 100px;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  border-style: none;
  -webkit-appearance: none;
}

#tweet:disabled {
    background: #BAE2FA;
    color: #EFF8FE;
    cursor: not-allowed;
     -webkit-appearance: none;
}

#tweet:hover:enabled {
  background: #1da1f2;
  cursor: pointer;
   -webkit-appearance: none;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    margin: 3%;
    margin-top: 2%;
  }
  #title {
    text-align: center;
    padding: 20px;
    padding-top: 8px;
  }
  h1 {
    font-size: 8vw;
  }
  #description {
    text-align: center;
    font-size: 1em;
    line-height: 1.50em;
  }
  #group {
    flex-direction: column;
    align-items: center;
  }
  #bot {
    width: 100%;
    overflow: hidden;
  }
  #bot_text {
    font-size: 1em;
  }
  .introPic {
    width: 100%;
    height: auto;
  }
  div[data-placeholder]:not([data-div-placeholder-content]):before {
      font-size: 4.6vw;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    margin: 17%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #group {
    flex-direction: row;
  }
}
